<!DOCTYPE html>
<html>

<head>
    <title>Cloudnest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/cloudnest.png" type="image/x-icon">
    <link href="css/style1.css"  rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body onscroll="disableScrolling()">
    <div id="loader" class="center"></div>
    <div class="wrap">
        <header>
            <div class="logo"><h2><img src="/images/cloudnest.png" height="40px" width="50px">Cloudnest</h2></div>
            <div class="menu">
                <ul>
                    <li><a href="/"><i class="las la-home"></i> Home</a></li>
                    <li><a href="/about"><i class="las la-question-circle"></i> About</a></li>
                    <li><a href="/login" class="color1" style="color:black;"><i class="las la-user-circle"></i> Login</a></li>
                </ul>
            </div>
        </header>
        <div class="content" style="margin-top: 0;">
                            <h1 class="About" style="color: orange; text-decoration:underline;">About Us</h1>
                            <h2>Cloudnest is developed by :<br> 
                            Saikat Maji as a Project for<br>Future Ready Talent program</h2>              
        </div>
            <div class="profile">
                <img src="/images/Saikat.jpg" alt="profilepic">
                <div class="name_group">
                    <h1>Saikat Maji</h1>
                    <h2><a href="#"><i class="las la-envelope"></i>saikatmaji96@outlook.com</a></h2>
                    <h2><a href="https://github.com/codingisfun-96"><i class="lab la-github"></i>github</a></h2>
                    <h2><a href="https://www.linkedin.com/in/saikat-maji/"><i class="lab la-linkedin-in"></i>linkedin</a></h2>
            </div>
        </div>
           
    </div>
    
    <script src="../js/function.js"></script>
    <script>
    function disableScrolling(){
    var x=window.scrollX;
    var y=window.scrollY;
    window.onscroll=function(){window.scrollTo(0, 0);};
    document.body.style.overflow = 'hidden';
}
    </script>
</body>

</html>